* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#app {
    background-color: #009687;
    background-image: linear-gradient(to bottom, #009687 0px, #009687 150px, #D7D8D3 20px, #D7D8D3 200px);
    padding-top: 30px;
    height: 100%;
}

.col-4 img,
.col-8 img {
    border-radius: 100%;
    width: 50px;
}

.col-8 {
    background-image: url(../img/mine.jpg);

}

.fa-bell-slash {
    padding: 10px 8px;
    background-color: white;
    border-radius: 100%;
}

.fa-solid,
.fa-regular {
    cursor: pointer;
}

.margin-message {
    margin: 20px 0px;
}

#main-chat {
    max-height: 815px;
    overflow-y: auto;
}

ul {
    max-height: 700px;
    overflow-y: auto;
}


/* STYLE CLASSES */
.bg-notifications {
    background-color: #8DD7FA;
}

.color-notifications {
    color: #8DD7FA;
}

.bg-profile {
    background-color: #E6E6E6;
}

.message-sent {
    background-color: #D2F5BB;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    min-width: 180px;
    max-width: 600px;
}

.message-received {
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    min-width: 180px;
    max-width: 600px;
    background-color: white;
}